{% extends 'base2cols.html' %}
{% block title %}500. Внутренняя ошибка{%endblock %}
{% block content %}
			<!--[if !IE]> START TEXT BOX <![endif]--> 
			<div class="box"> 
				<div class="titleЭ> 
					<h2>500</h2> 
					<img src="/gfx/title-hide.gif" class="toggle" alt="" /> 
				</div> 
				<div class="content"> 					
				    Возникла ошибка которой не должно было произойти. Но она произошла и письмо о ней уже ушло администратору.
					
				</div> 
			</div> 
			<!--[if !IE]> END TEXT BOX <![endif]--> 
{% endblock %}