{% extends 'base2cols.html' %}
{% block title %}О проекте{%endblock %}
{% block content %}
			<!--[if !IE]> START TEXT BOX <![endif]--> 
			<div class="box"> 
				<div class="title"> 
					<h2>О проекте</h2> 
					<img src="/gfx/title-hide.gif" class="toggle" alt="" /> 
				</div> 
				<div class="content"> 					
					<h1>Как работает?</h1> 
                        Каждые 10 минут специальный скрипт опрашивает несколько страниц официального сайта zakupki.gov.ru и проверяет доступность этих страниц или время отклика сайта.                        
                        На основе этих данных рассчитываются периоды доступности сайта и статистика доступности по дням.

					<h1>Зачем?</h1> 
                        Проект мониторинга за официальным сайтом zakupki.gov.ru начат в 2011 году и предназначен для отслеживания реальной работоспособности данного веб-проекта.
                        По всем вопросам работы проекта пишите Ивану Бегтину на <b>ibegtin (собака) gmail.com</b> или оставляйте комментарии в блоге <a href="http://ivan.begtin.name">ivan.begtin.name</a>
                    <br/>
                    <br/>
					<h2>Справка</h2> 
					<ul>
    					<li>Проверка доступности веб-страницы производится запросом GET каждые 10 минут</li>
    					<li>Таймаут при проверке доступности сайта составляет <b>15 секунд</b>.</li>
    					<li>В случае если сайт недоступен и проверка завершается по таймауту, код недоступности указывается равным <b>900</b>.</li>
					</ul>
					
				</div> 
			</div> 
			<!--[if !IE]> END TEXT BOX <![endif]--> 
{% endblock %}